/* 현재 화면을 세로 --> 가로로 변경하는 스타일 작성 
        선택자 {
            속성: 속성값;
            ...계속..
        }        
    */   
    h1 {
        text-align: center;  /* 텍스트-정렬: 가로 가운데 */
        color: red;       /* 색상: 빨강 */
    } 
    h2 {
        color: green;
        text-align: center;  /* 텍스트-정렬: 가로 가운데 */
    } 
    h3 {
        color: blue;
        text-align: center;  /* 텍스트-정렬: 가로 가운데 */
    }
    div {
            color: green;
            border: 1px solid #333;
            padding: 20px;
            width: 300px;
            display: inline-block;
        } 
    div.container {
        width: 100%;         /* 넓이 : 디바이스의 가로 넓이 가득 100% */
        border: 0;           /* 테두리 선 : 없음(=0) */
        text-align: center;  /* 텍스트-정렬: 가로 가운데 */
    }     
    img {
        width: 300px;          /* 넓이 : 가로폭 */
        height: 200px;         /* 높이 */
    } 